h1 {
    color: aquamarine;
   
}
body {
    color: red;
}
.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: burlywood;
}
button {
    background-color: yellow;
}
<<<<<<< HEAD:style.css

.myclass{
    color: green;
}
=======
.myclass{
    color: red;
}
>>>>>>> 592aacfcb6a336f91acf2a0f379e9357c4f8aac7:css/style.css
